__pycache__
.ruff_cache
.env
.git
.github
.pytest_cache
.dockerignore
.gitignore
compose.yml
Dockerfile
README.md
.venv/
scripts/
.geminiignore
.pre-commit-config.yaml
compose-multi.yml
compose.sh
compose.yml
compose22.yml
GEMINI.md
mongo-setup.sh
NEW_FEATURES.md
TODO.md
frontend/